CL_size = 64

#Specify bandwdith in bytes/cy
L1_read_bw = 64
L1_write_bw = 32
L1_WA = 0
L1_VICTIM = 0
#size in kB
L1_size = 32

L2_read_bw = 32
L2_write_bw = 32
L2_WA = 1
L2_VICTIM = 0
L2_size = 512

L3_read_bw = 28
L3_write_bw = 28
L3_WA = 1
L3_VICTIM = 1
L3_size = 32768

#freq = 2.1, 41.8 GB/s load_avx, 36.9 GB/s (55.35 GB/s) copy_avx
MEM_read_bw = 20
MEM_write_bw = 26
MEM_WA = 1
MEM_VICTIM = 0
#just a big number
MEM_size = 10000000000

ECM_hypothesis = max(max(max(max(L1_read_cy, L1_write_cy), max(L2_read_cy, L2_write_cy)), max(L3_read_cy, L3_write_cy)), MEM_read_cy + MEM_write_cy)
