#Port picture here: https://www.nextplatform.com/2021/04/19/deep-dive-into-intels-ice-lake-xeon-sp-architecture/

CL_size = 64

#Specify bandwdith in bytes/cy
L1_read_bw = 64
L1_write_bw = 64
L1_WA = 0
L1_VICTIM = 0
#size in kB
L1_size = 48

L2_read_bw = 64
L2_write_bw = 64
L2_WA = 1
L2_VICTIM = 0
L2_size = 1280

L3_read_bw = 16
L3_write_bw = 16
L3_WA = 1
L3_VICTIM = 1
L3_size = 55296

#freq = 1.8, 172.5 GB/s load_avx512, 156 GB/s copy_mem_avx512
MEM_read_bw = 95.83
MEM_write_bw = 86.67
MEM_WA = 1
MEM_VICTIM = 0
#just a big number
MEM_size = 10000000000

ECM_hypothesis = max(L1_read_cy, L1_write_cy) + L2_read_cy + L2_write_cy + max(L3_read_cy, L3_write_cy) + MEM_read_cy + MEM_write_cy
